<ng-container *ngIf="settings?.contentTemplate; else message">
  <ng-container *ngTemplateOutlet="getTemplate(settings.contentTemplate.templateName); context: getContentContext(settings.contentTemplate)">
  </ng-container>
</ng-container>

<ng-template #message>
    <ng-container *ngIf="settings?.messageTemplate">
        <ng-container *ngTemplateOutlet="getTemplate(settings.messageTemplate.templateName); context: getMessageContext(settings.messageTemplate)">
        </ng-container>
      </ng-container>
</ng-template>

<ng-template let-messageTemplate #messageTemplate>
  <div class="card" *ngIf="messageTemplate">
    <div class="card-header bg-primary text-white h6">
      {{messageTemplate.caption}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 h4">{{messageTemplate.message}}</div>
      </div>
    </div>
    <div class="card-footer">
      <ng-container *ngFor="let button of commandButtons">
        <button class="btn {{button.classString}} ml-2 px-4 float-right" type="button" (click)="navigateNext(button)">
          <i class="fa fa-angular {{button.buttonIcon}}"></i> {{button.longString}}
        </button>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template let-contentTemplate #welcomeTemplate>
  <div class="jumbotron">
    <h1>{{contentTemplate ? contentTemplate.title : ''}}</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Welcome to Contoso University</h2>
      <p>
        Contoso University is a sample application that demonstrates how to use Entity Framework Core 1.0 in an ASP.NET
        Core MVC
        1.0 web application.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Build it from scratch</h2>
      <p>You can build the application by following the steps in a series of tutorials.</p>
      <p>
        <a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial
          &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Download it</h2>
      <p>You can download the completed project from GitHub.</p>
      <p>
        <a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">See
          project source code &raquo;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-body"><ng-container *ngFor="let button of commandButtons">
              <button class="btn {{button.classString}} ml-2 px-4 float-right" type="button" (click)="navigateNext(button)">
                <i class="fa fa-angular {{button.buttonIcon}}"></i> {{button.longString}}
              </button>
            </ng-container>
          </div>
        </div>
    </div>
  </div>
</ng-template>