<div class="card">
  <div class="card-header bg-primary text-white">
    {{gridSettings.title}}
  </div>
  <div class="card-body">
    <kendo-grid [data]="items"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [sortable]="gridSettings.sortable"
      [pageable]="gridSettings.pageable"
      [scrollable]="gridSettings.scrollable"
      [groupable]="gridSettings.groupable"
      [group]="state.group"
      [filterable]="gridSettings.filterable"
      [filter]="state.filter"
      (dataStateChange)="dataStateChange($event)"
      (filterChange)="filterChange($event)"
      [height]="gridSettings.height">
      @for (columnSetting of gridSettings.columns; track columnSetting) {
        <kendo-grid-column
          [field]="columnSetting.field"
          [title]="columnSetting.title"
          [format]="columnSetting.format"
          [filter]="columnSetting.type"
          [width]="columnSetting.width ? columnSetting.width : null"
          [groupable]="columnSetting.groupable == undefined ? true : columnSetting.groupable">
          @if (columnSetting.groupHeaderTemplate; as aggregates) {
            <ng-template kendoGridGroupHeaderTemplate let-aggregates>
              <ng-container *ngTemplateOutlet="getTemplate(columnSetting.groupHeaderTemplate.templateName); context: getGroupHeaderContext(aggregates, columnSetting)">
              </ng-container>
            </ng-template>
          }
          @if (columnSetting.cellTemplate; as dataItem) {
            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-container *ngTemplateOutlet="getTemplate(columnSetting.cellTemplate.templateName); context: getContext(dataItem, columnSetting)">
              </ng-container>
            </ng-template>
          }
          @if (columnSetting.filterRowTemplate; as filter) {
            <ng-template kendoGridFilterCellTemplate let-filter>
              <ng-container *ngTemplateOutlet="getTemplate(columnSetting.filterRowTemplate.templateName); context: getRowFilterContext(filter, columnSetting)">
              </ng-container>
            </ng-template>
          }
          <ng-template kendoGridFilterMenuTemplate let-filter let-filterService="filterService" *ngIf="columnSetting.filterMenuTemplate">
            <ng-container *ngTemplateOutlet="getTemplate(columnSetting.filterMenuTemplate.templateName); context: getMenuFilterContext(filter, columnSetting, filterService)">
            </ng-container>
          </ng-template>
          @if (columnSetting.cellListTemplate; as dataItem) {
            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-container *ngTemplateOutlet="getTemplate(columnSetting.cellListTemplate.templateName); context: getListContext(dataItem, columnSetting)">
              </ng-container>
            </ng-template>
          }
          @if (columnSetting.groupFooterTemplate; as aggregates) {
            <ng-template kendoGridGroupFooterTemplate let-aggregates>
              <ng-container *ngTemplateOutlet="getTemplate(columnSetting.groupFooterTemplate.templateName); context: getGroupFooterContext(aggregates, columnSetting)">
              </ng-container>
            </ng-template>
          }
          @if (columnSetting.gridFooterTemplate && aggregateResult) {
            <ng-template kendoGridFooterTemplate>
              <ng-container *ngTemplateOutlet="getTemplate(columnSetting.gridFooterTemplate.templateName); context: getGridFooterContext(aggregateResult, columnSetting)">
              </ng-container>
            </ng-template>
          }
        </kendo-grid-column>
      }
      @if (gridSettings.commandColumn) {
        <kendo-grid-command-column [title]="gridSettings.commandColumn.title" [width]="gridSettings.commandColumn.width">
          <ng-template kendoGridCellTemplate let-dataItem>
            @for (button of gridButtons; track button; let idx = $index) {
              @if (button.gridId === gridSettings.gridId) {
                @if (idx !== 0) {
                  <span> | </span>
                  }<a class="text-primary" href="#" onclick="return false;" (click)="gridCommandClick(dataItem, button)">{{button.longString}}</a>
                }
              }
            </ng-template>
          </kendo-grid-command-column>
        }
        @if (gridSettings.detailGridSettings) {
          <div *kendoGridDetailTemplate="let dataItem">
            <app-generic-grid [settings]="gridSettings.detailGridSettings" [filterValueSourceItem]="dataItem" [commandButtons]="commandButtons"></app-generic-grid>
          </div>
        }
        <ng-template #filterRowTemplateDropDown let-filter let-filterRowTemplate="filterRowTemplate" let-textField="textField" let-valueField="valueField">
          <app-grid-column-dropdown-filter
            [filter]="filter"
            [filterRowTemplate]="filterRowTemplate"
            [textField]="textField"
            [valueField]="valueField">
          </app-grid-column-dropdown-filter>
        </ng-template>
      </kendo-grid>
    </div>
    <div class="card-footer">
      @for (button of commandButtons; track button) {
        @if (!button.gridCommandButton && (button.gridId == gridSettings.gridId)) {
          <button class="btn {{button.classString}} ms-2 px-4 float-right" type="button" (click)="formCommandClick(button)">
            <i class="fa fa-angular {{button.buttonIcon}}"></i> {{button.longString}}
          </button>
        }
      }
    </div>
  </div>

  <ng-template let-dataItem let-field="field" #gridCellTemplate_Date>
    {{ dataItem[field] | date }}
  </ng-template>

  <ng-template let-dataItem let-field="field" #gridCellTemplate_Currency>
    {{ dataItem[field] | currency:'USD':'symbol':'1.2-2' }}
  </ng-template>

  <ng-template #filterMenuTemplateMultiSelect let-filter let-field="field" let-filterService="filterService" let-isPrimitive="isPrimitive" let-filterMenuTemplate="filterMenuTemplate" let-textField="textField" let-valueField="valueField">
    <app-grid-column-multiselect-filter
      [isPrimitive]="isPrimitive"
      [field]="field"
      [currentFilter]="filter"
      [filterService]="filterService"
      [filterMenuTemplate]="filterMenuTemplate"
      [textField]="textField"
      [valueField]="valueField">
    </app-grid-column-multiselect-filter>
  </ng-template>

  <ng-template let-dataItem let-field="field" let-displayMember="displayMember" #itemListTemplate>
    @if (dataItem && dataItem[field] && dataItem[field].length) {
      <div>
        @for (item of dataItem[field]; track item) {
          <span>{{displayMember ? item[displayMember] : item}}
            <br>
            </span>
          }
        </div>
      }
    </ng-template>

    <ng-template
      let-label="label"
      let-columnTitle="columnTitle"
      let-field="field"
      let-aggregates="aggregates"
      let-groupAggregates="groupAggregates"
      #groupHeaderTemplate>
      @if (aggregates && gridAggregateResult[field]) {
        <span>
          @for (agg of aggregates; track agg; let idx = $index) {
            <span>@if (idx !== 0) {
              <span>, </span>
            }{{agg.label}} {{columnTitle}}: {{groupAggregates[field][agg.function]}}</span>
          }
        </span>
      }
    </ng-template>

    <ng-template
      let-label="label"
      let-columnTitle="columnTitle"
      let-field="field"
      let-aggregates="aggregates"
      let-groupAggregates="groupAggregates"
      #groupHeaderTemplate_Date>
      @if (gridAggregateResult && gridAggregateResult[field]) {
        <span>
          @for (agg of aggregates; track agg; let idx = $index) {
            <span>@if (idx !== 0) {
              <span>, </span>
            }{{agg.label}} {{columnTitle}}: {{groupAggregates[field][agg.function] | date}}</span>
          }
        </span>
      }
    </ng-template>

    <ng-template
      let-label="label"
      let-columnTitle="columnTitle"
      let-field="field"
      let-aggregates="aggregates"
      let-groupAggregates="groupAggregates"
      #groupHeaderTemplate_Currency>
      @if (gridAggregateResult && gridAggregateResult[field]) {
        <span>
          @for (agg of aggregates; track agg; let idx = $index) {
            <span>@if (idx !== 0) {
              <span>, </span>
            }{{agg.label}} {{columnTitle}}: {{groupAggregates[field][agg.function] | currency:'USD':'symbol':'1.2-2'}}</span>
          }
        </span>
      }
    </ng-template>

    <ng-template
      let-label="label"
      let-columnTitle="columnTitle"
      let-field="field"
      let-aggregates="aggregates"
      let-groupAggregates="groupAggregates"
      #groupFooterTemplate>
      @if (gridAggregateResult && gridAggregateResult[field]) {
        <span>
          @for (agg of aggregates; track agg; let idx = $index) {
            <span>@if (idx !== 0) {
              <br>
              }{{agg.label}}: {{groupAggregates[field][agg.function]}}</span>
            }
          </span>
        }
      </ng-template>

      <ng-template
        let-label="label"
        let-columnTitle="columnTitle"
        let-field="field"
        let-aggregates="aggregates"
        let-groupAggregates="groupAggregates"
        #groupFooterTemplate_Date>
        @if (gridAggregateResult && gridAggregateResult[field]) {
          <span>
            @for (agg of aggregates; track agg; let idx = $index) {
              <span>@if (idx !== 0) {
                <br>
                }{{agg.label}}: {{groupAggregates[field][agg.function] | date}}</span>
              }
            </span>
          }
        </ng-template>

        <ng-template
          let-label="label"
          let-columnTitle="columnTitle"
          let-field="field"
          let-aggregates="aggregates"
          let-groupAggregates="groupAggregates"
          #groupFooterTemplate_Currency>
          @if (gridAggregateResult && gridAggregateResult[field]) {
            <span>
              @for (agg of aggregates; track agg; let idx = $index) {
                <span>@if (idx !== 0) {
                  <br>
                  }{{agg.label}}: {{groupAggregates[field][agg.function] | currency:'USD':'symbol':'1.2-2'}}</span>
                }
              </span>
            }
          </ng-template>

          <ng-template
            let-label="label"
            let-columnTitle="columnTitle"
            let-field="field"
            let-aggregates="aggregates"
            let-gridAggregateResult="gridAggregateResult"
            #gridFooterTemplate>
            @if (gridAggregateResult && gridAggregateResult[field]) {
              <span>
                @for (agg of aggregates; track agg; let idx = $index) {
                  <span>@if (idx !== 0) {
                    <br>
                    }{{agg.label}}: {{gridAggregateResult[field][agg.function]}}</span>
                  }
                </span>
              }
            </ng-template>

            <ng-template
              let-label="label"
              let-columnTitle="columnTitle"
              let-field="field"
              let-aggregates="aggregates"
              let-gridAggregateResult="gridAggregateResult"
              #gridFooterTemplate_Date>
              @if (gridAggregateResult && gridAggregateResult[field]) {
                <span>
                  @for (agg of aggregates; track agg; let idx = $index) {
                    <span>@if (idx !== 0) {
                      <br>
                      }{{agg.label}}: {{gridAggregateResult[field][agg.function] | date}}</span>
                    }
                  </span>
                }
              </ng-template>

              <ng-template
                let-label="label"
                let-columnTitle="columnTitle"
                let-field="field"
                let-aggregates="aggregates"
                let-gridAggregateResult="gridAggregateResult"
                #gridFooterTemplate_Currency>
                @if (gridAggregateResult && gridAggregateResult[field]) {
                  <span>
                    @for (agg of aggregates; track agg; let idx = $index) {
                      <span>@if (idx !== 0) {
                        <br>
                        }{{agg.label}}: {{gridAggregateResult[field][agg.function] | currency:'USD':'symbol':'1.2-2'}}</span>
                      }
                    </span>
                  }
                </ng-template>