@if (formSettings) {
  <div class="card">
    <div class="card-header bg-primary text-white h6">
      {{formSettings.title}} {{(entity ? entity[formSettings.displayField] : '')}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          @for (setting of formSettings.fieldSettings; track setting) {
            <div class="row">
              @if (entity && entity[setting.field] && setting.detailType === detailType.field) {
                <div class="col-md-3">{{setting.title}}</div>
                <div class="col-md-6">
                  @if (setting.fieldTemplate) {
                    <ng-container *ngTemplateOutlet="getTemplate(setting.fieldTemplate.templateName); context: getFieldContext(entity, setting)">
                    </ng-container>
                  }
                  @if (setting.valueTextTemplate) {
                    <ng-container *ngTemplateOutlet="getTemplate(setting.valueTextTemplate.templateName); context: getFieldContext(entity, setting)">
                    </ng-container>
                  }
                </div>
              }
              @if (entity && setting.detailType === detailType.group) {
                @if (entity) {
                  <ng-container *ngTemplateOutlet="getTemplate(setting.groupTemplate.templateName); context: getGroupContext(entity, setting)">
                  </ng-container>
                }
              }
              @if (entity && setting.detailType === detailType.list) {
                <div class="col-md-3">{{setting.title}}</div>
                <div class="col-md-9">
                  @if (entity) {
                    <ng-container *ngTemplateOutlet="getTemplate(setting.listTemplate.templateName); context: getListContext(entity, setting)">
                    </ng-container>
                  }
                </div>
              }
            </div>
          }
        </div>
      </div>
      @if (errorMessage) {
        <div class='has-error'>{{errorMessage}}</div>
      }
    </div>
    <div class="card-footer">
      @for (button of commandButtons; track button) {
        @if (button.cancel) {
          <button class="btn {{button.classString}} ms-2 px-4 float-right" type="button" (click)="navigateNext(button)">
            <i class="fa fa-angular {{button.buttonIcon}}"></i> {{button.longString}}
          </button>
        }
        @if (!button.cancel) {
          <button class="btn {{button.classString}} ms-2 px-4 float-right" type="button" (click)="submitClick(button)">
            <i class="fa fa-angular {{button.buttonIcon}}"></i> {{button.longString}}
          </button>
        }
      }
    </div>
  </div>
}

<ng-template let-entity let-fieldSetting="fieldSetting" #groupTemplate>
  <div class="card col-md-12 pl-0 pr-0 mt-3">
    <div class="card-header">
      {{fieldSetting.title}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          @for (setting of fieldSetting.fieldSettings; track setting) {
            <div class="row {{entity && entity[setting.field] ? 'border border-left-0 border-bottom-0 border-right-0' : ''}}">
              @if (entity && entity[setting.field] && setting.detailType === detailType.field) {
                <div class="col-md-3">{{setting.title}}</div>
                <div class="col-md-6">
                  @if (entity) {
                    @if (setting.fieldTemplate) {
                      <ng-container *ngTemplateOutlet="getTemplate(setting.fieldTemplate.templateName); context: getFieldContext(entity, setting)">
                      </ng-container>
                    }
                    @if (setting.valueTextTemplate) {
                      <ng-container *ngTemplateOutlet="getTemplate(setting.valueTextTemplate.templateName); context: getFieldContext(entity, setting)">
                      </ng-container>
                    }
                  }
                </div>
              }
              @if (entity && setting.detailType === detailType.group) {
                <ng-container *ngTemplateOutlet="getTemplate(setting.groupTemplate.templateName); context: getGroupContext(entity, setting)">
                </ng-container>
              }
              @if (entity && setting.detailType === detailType.list) {
                <div class="col-md-3">{{setting.title}}</div>
                <div class="col-md-9">
                  @if (entity) {
                    <ng-container *ngTemplateOutlet="getTemplate(setting.listTemplate.templateName); context: getListContext(entity, setting)">
                    </ng-container>
                  }
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template let-entity let-fieldSetting="fieldSetting" #currencyTemplate>
  {{entity[fieldSetting.field] | currency:'USD':'symbol':'1.2-2'}}
</ng-template>
<ng-template let-entity let-fieldSetting="fieldSetting" #dateTemplate>
  {{entity[fieldSetting.field] | date: 'MM/dd/yyyy'}}
</ng-template>
<ng-template let-entity let-fieldSetting="fieldSetting" #textTemplate>
  {{entity[fieldSetting.field]}}
</ng-template>
<ng-template let-entity let-fieldSetting="fieldSetting" #booleanTemplate>
  @if (entity[fieldSetting.field]) {
    <i class="fa fa-angular fa-check"></i>
  }
</ng-template>
<ng-template let-entity let-fieldSetting="fieldSetting" #valueTextTemplate>
  <div app-display-dropdown-value [selectedValue]="entity[fieldSetting.field]" [valueTextTemplate]="fieldSetting.valueTextTemplate"
    [filterValueSourceItem]="entity" [modelType]="fieldSetting.modelType">
  </div>
</ng-template>
<ng-template let-list let-fieldSetting="fieldSetting" #listTemplate>
  @if (list && list.length) {
    <table class="table">
      <tr>
        @for (fieldSetting of fieldSetting.fieldSettings; track fieldSetting) {
          <th>{{fieldSetting.title}}</th>
        }
      </tr>
      @for (item of list; track item) {
        <tr>
          @for (fieldSetting of fieldSetting.fieldSettings; track fieldSetting) {
            <td>
              @if (fieldSetting.fieldTemplate) {
                <ng-container *ngTemplateOutlet="getTemplate(fieldSetting.fieldTemplate.templateName); context: getFieldContext(item, fieldSetting)">
                </ng-container>
              }
              @if (fieldSetting.valueTextTemplate) {
                <ng-container *ngTemplateOutlet="getTemplate(fieldSetting.valueTextTemplate.templateName); context: getFieldContext(item, fieldSetting)">
                </ng-container>
              }
            </td>
          }
        </tr>
      }
    </table>
  }
</ng-template>