<div class="card" *ngIf="settings">
    <div class="card-header bg-primary text-white">
      {{settings.title}}
    </div>
    <div class="card-body">
      <ng-container *ngIf="listData && listData.length">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor='let fieldSetting of settings.fieldSettings'>{{fieldSetting.title}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let item of listData'>
              <td *ngFor='let fieldSetting of settings.fieldSettings'>
                <ng-container *ngTemplateOutlet="getTemplate(fieldSetting.fieldTemplate.templateName); context: getFieldContext(item, fieldSetting)">
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
    <div class="card-footer">
      <ng-container *ngFor="let button of commandButtons">
        <button class="btn {{button.classString}} ms-2 px-4 float-right" type="button" (click)="navigateNext(button)">
          <i class="fa fa-angular {{button.buttonIcon}}"></i> {{button.longString}}
        </button>
      </ng-container>
    </div>
  </div>
  
  <ng-template let-entity let-fieldSetting="fieldSetting" #dateTemplate>
    {{entity[fieldSetting.field] | date: 'MM/dd/yyyy'}}
  </ng-template>
  <ng-template let-entity let-fieldSetting="fieldSetting" #textTemplate>
    {{entity[fieldSetting.field]}}
  </ng-template>