@if (settings) {
  <div class="card">
    <div class="card-header bg-primary text-white">
      {{settings.title}}
    </div>
    <div class="card-body">
      @if (listData && listData.length) {
        <table class="table">
          <thead>
            <tr>
              @for (fieldSetting of settings.fieldSettings; track fieldSetting) {
                <th>{{fieldSetting.title}}</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (item of listData; track item) {
              <tr>
                @for (fieldSetting of settings.fieldSettings; track fieldSetting) {
                  <td>
                    <ng-container *ngTemplateOutlet="getTemplate(fieldSetting.fieldTemplate.templateName); context: getFieldContext(item, fieldSetting)">
                    </ng-container>
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
    <div class="card-footer">
      @for (button of commandButtons; track button) {
        <button class="btn {{button.classString}} ms-2 px-4 float-right" type="button" (click)="navigateNext(button)">
          <i class="fa fa-angular {{button.buttonIcon}}"></i> {{button.longString}}
        </button>
      }
    </div>
  </div>
}

<ng-template let-entity let-fieldSetting="fieldSetting" #dateTemplate>
  {{entity[fieldSetting.field] | date: 'MM/dd/yyyy'}}
</ng-template>
<ng-template let-entity let-fieldSetting="fieldSetting" #textTemplate>
  {{entity[fieldSetting.field]}}
</ng-template>